node_modules/
/dist
/types

logs
*.log
npm-debug.log*
.eslintcache
/coverage
/local
/reports
.DS_Store
Thumbs.db
.idea
.cache
.temp
*.iml
.vscode
*.sublime-project
*.sublime-workspace

test/upload/**
!test/upload/.gitkeep
